{% extends "base.html" %}

{% block content %}
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 0;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>


    <div class="container">
        {% if oidc.user_loggedin %}
            <h3>Hello, {{ oidc.user_getinfo(['name'])['name'] }}!</h3>
            <a href="{{ url_for('scholarships') }}" class="button">Scholarship</a>
        {% else %}
            <p>Please login to see more.</p>
        {% endif %}
    </div>
{% endblock %}